<log-header></log-header>
<div class="container-fluid">
  <!-- <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <nav class="collapse bd-links" id="bd-docs-nav">
        <div class="bd-toc-item">
          <a class="bd-toc-link" routerLink="/statistics">
            ログ分析
          </a>
        </div>
      </nav>
    </div>
  </div> -->
  <main class="col-12 col-md-9 col-xl-6 py-md-3 pl-md-5 bd-content" role="main">
    <!-- <h1 class="bd-title" id="content">トップ</h1> -->
    <router-outlet></router-outlet>
  </main>
</div>
