<log-header></log-header>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <nav class="collapse bd-links" id="bd-docs-nav">
        <div class="bd-toc-item">
          <a class="bd-toc-link" href="/docs/4.0/getting-started/introduction/">
            ログ分析
          </a>
        </div>
      </nav>
    </div>
  </div>
  <!-- <label class="btn btn-primary" for="btnFile">上传文件</label>
  <input multiple id="btnFile" type="file" class="fileUpload" (change)="logFileChnage($event.target.files)">
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0"
      aria-valuemax="100"></div>
  </div> -->
</div>
