<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
  <div class="navbar-nav-scroll">
    <ul class="navbar-nav bd-navbar-nav flex-row">
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/top">トップ</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/statistics">ログ分析</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/test">テスト</a>
      </li>
    </ul>
  </div>
</header>
